@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter', sans-serif; }
}


@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,300i,400,400i,500,500i,700,700i&display=swap');

@font-face {
font-family: "Circular Std";
src: url("fonts/circular/CircularStd-Book.ttf");
}
*{
  font-family: "Inter", sans-serif;
}


/* Flex Grid by @joshpuckett */
.container,
.col,
.one-col,
.two-col,
.three-col,
.four-col,
.five-col,
.six-col,
.seven-col,
.eight-col,
.nine-col,
.ten-col,
.eleven-col,
.twelve-col {
	box-sizing: border-box;
	padding: 0.5rem 1rem;
	flex-basis: 100%;
}
.row {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	margin-left: -1rem;
	margin-right: -1rem;
}
.col {
	flex: 1 1 0 !important;
}
.container {
	width: 940px;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}
.np-top {
	padding-top: 0;
}
.np-bottom {
	padding-bottom: 0;
}



.position-relative {
    position: relative;
}

/* Devices larger than 700px */
@media (min-width: 960px) {
	.one-col										{ flex-basis: 8.333% !important; }
	.two-col										{ flex-basis: 16.666% !important; }
	.three-col									{ flex-basis: 25% !important; }
	.four-col										{ flex-basis: 33.333% !important; }
	.five-col										{ flex-basis: 41.666% !important; }
	.six-col										{ flex-basis: 50% !important; }
	.seven-col									{ flex-basis: 58.333% !important; }
	.eight-col									{ flex-basis: 66.666% !important; }
	.nine-col										{ flex-basis: 75% !important; }
	.ten-col										{ flex-basis: 83.333% !important; }
	.eleven-col									{ flex-basis: 91.666% !important; }
	.twelve-col									{ flex-basis: 100% !important; }
}

/*Vertical & Horizontal Alignment*/
.align-items-start    						{ align-items: flex-start !important; }
.align-items-end      						{ align-items: flex-end !important; }
.align-items-center   						{ align-items: center !important; }
.justify-content-start   					{ justify-content: flex-start !important; }
.justify-content-end     					{ justify-content: flex-end !important; }
.justify-content-center  					{ justify-content: center !important; }

@media (max-width: 959px) {

	.container {
		width: 90%;
		margin: 0 auto;
		padding: 0;
		box-sizing: border-box;
	}

}



.width-1 {
  width: 8.33333%
}

.width-2 {
  width: 16.66667%
}

.width-3 {
  width: 25%
}

.width-4 {
  width: 33.33333%
}

.width-5 {
  width: 41.66667%
}

.width-6 {
  width: 50%
}

.width-7 {
  width: 58.33333%
}

.width-8 {
  width: 66.66667%
}

.width-9 {
  width: 75%
}

.width-10 {
  width: 83.33333%
}

.width-11 {
  width: 91.66667%
}

.width-12 {
  width: 100%
}

.push-1 {
  left: 8.33333%
}

.push-2 {
  left: 16.66667%
}

.push-3 {
  left: 25%
}

.push-4 {
  left: 33.33333%
}

.push-5 {
  left: 41.66667%
}

.push-6 {
  left: 50%
}

.push-7 {
  left: 58.33333%
}

.push-8 {
  left: 66.66667%
}

.push-9 {
  left: 75%
}

.push-10 {
  left: 83.33333%
}

.push-11 {
  left: 91.66667%
}

.pull-1 {
  right: 8.33333%
}

.pull-2 {
  right: 16.66667%
}

.pull-3 {
  right: 25%
}

.pull-4 {
  right: 33.33333%
}

.pull-5 {
  right: 41.66667%
}

.pull-6 {
  right: 50%
}

.pull-7 {
  right: 58.33333%
}

.pull-8 {
  right: 66.66667%
}

.pull-9 {
  right: 75%
}

.pull-10 {
  right: 83.33333%
}

.pull-11 {
  right: 91.66667%
}

.pull-left {
  float: left !important
}

.pull-right {
  float: right !important
}

.reverse-row-order{

 flex-direction: row-row-reverse;
}


.right_reverse { order: 2; }
.left_reverse{ order: 1; }


@media only screen and (max-width: 769px) {

    .right_reverse { order: 1; }
    .left_reverse { order: 2; }
}

/* Card Variables */

div {
    display: block;
}

a {
  font-weight: 400;
  text-decoration: none;
  color: #418CFF;
  position: relative;
  transition: color 0.3s ease; }
  a.text-link:after {
    content: '';
    display: block;
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0%;
    border-bottom: 1px solid #418CFF;
    transition: 0.4s ease; }
  a:hover {
    text-decoration: none;
    cursor: pointer; }
  a.text-link:hover:after {
    width: 100%;
    z-index: 100; }

    .work {
      background-color: #ffffff;
      padding: 80px 0px; }
      @media screen and (max-width: 440px) {
        .work {
          padding: 60px 0px; } }

.main-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 ;
    padding-top: 0px;
    padding-right: 10%;
    padding-bottom: 0px;
    padding-left: 10%;
}

.main-container and (max-width: 600px) {

    margin: 0 auto;
    padding: 0px;

}

.section-header {
  text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.project-container {
  display: inline-flex;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  margin-bottom: 80px;
  transition: all 0.4s ease; }
  .project-container:hover {
    box-shadow: 0 2px 2px #202020;
    -webkit-transform: translate(0, -5px);
            transform: translate(0, -5px); }
  @media screen and (max-width: 900px) {
    .project-container {
      flex-direction: column;
      height: 100%; } }
  @media screen and (max-width: 440px) {
    .project-container {
      margin-bottom: 60px; } }
  .project-container .project-preview {
    flex-basis: 50%;
    flex-shrink: 0;
    overflow: hidden;
    position: relative; }
    @media screen and (max-width: 900px) {
      .project-container .project-preview {
        padding-top: 58.62069%;
        height: 0; } }
    .project-container .project-preview img {
      position: absolute;
      -o-object-fit: cover;
         object-fit: cover;
      width: 100%;
      height: 100%; }
      @media screen and (max-width: 900px) {
        .project-container .project-preview img {
          top: 0;
          left: 0; } }
  .project-container .project-details {
    font-family: "Inter", sans-serif;
    background-color: white;
    padding: 40px;
    box-sizing: border-box; }
    @media screen and (max-width: 440px) {
      .project-container .project-details {
        height: 100%;
        padding: 0px; } }
    .project-container .project-details .metadata {
      font-family: "Inter", sans-serif;
      color: #7D7D80;
      font-size: 12px;
      letter-spacing: 1px;
      margin-bottom: 48px; }
      @media screen and (max-width: 900px) {
        .project-container .project-details .metadata {
          margin-bottom: 36px; } }
      @media screen and (max-width: 440px) {
        .project-container .project-details .metadata {
          margin-bottom: 24px; } }
    .project-container .project-details .title {
      color: #000000;
      font-size: 32px;
      line-height: 1.2;
      font-weight: 600; }
      @media screen and (max-width: 1100px) {
        .project-container .project-details .title {
          font-size: 32px; } }
      @media screen and (max-width: 440px) {
        .project-container .project-details .title {
          font-size: 28px; } }
    .project-container .project-details .subtitle {
      color: #4a4a4a;
      font-family: "Inter", sans-serif;
      font-size: 16px;
      font-weight: 400;
      margin-top: 12px;
      margin-bottom: 12px; }
      @media screen and (max-width: 440px) {
        .project-container .project-details .subtitle {
          font-size: 16px; } }
    .project-container .project-details .body {
      color: #7D7D80;
      font-family: "Inter", sans-serif;
      font-size: 12px;
      letter-spacing: 1px;
      line-height: 14px; }
      @media screen and (max-width: 440px) {
        .project-container .project-details .body {
          display: none; } }
      .project-container .project-details .body object {
        display: block;
        margin-top: 4px; }
        .project-container .project-details .body object img {
          width: 11px;
          height: 11px;
          margin-left: 4px; }

          .project-container .project-details .bodyarrow {
            color: #7D7D80;
            font-family: "Inter", sans-serif;
            font-size: 12px;
            letter-spacing: 0px;
            line-height: 14px; }

/* Custom Color Variables */

:root {
  --white: #ffffff;
  --black: #000000;
  --passionred: #f73859;
  --flatblue: #6088bb;
  --spotifygreen: #00CC99;
  --ultragrey: #fafafa;
  --eigen: #16161d;
  --lightblue: #00c6ff;
  --turquoise: #12D8FA;
  --mesblue: #0072ff; //#418CFF;
  --mint: #A6FFCB;
  --stone: #f6f6f6;
  --greystone: rgb(249,249,249);
  --spygrey: #202020;
  --ibmblue: #418CFF; //#0062ff;
  --blueblack: #333438;
  --gstar: rgb(250,164,130);
  --rescue: rgb(50,127,184);
  --frost: #E0E7EE;
  --showkali: rgb(252,71,62);
  --dviz: rgb(47,113,76);
  --nasa-black: #202020;

}

.color-change-2x{-webkit-animation:color-change-2x 5s linear infinite alternate both;animation:color-change-2x 5s linear infinite alternate both}

@-webkit-keyframes color-change-2x{0%{background: #f6f6f6}100%{background: #ffffff}}@keyframes color-change-2x{0%{background: #f6f6f6))}100%{background: #f6f6f6}}


html{
  background-color: var(--white);
  color: var(--black);
  font-smooth: always;
}

.title{
  color: var(--black);
}

.subtitle{
  color: var(--black);
}



.navbar{
  top: 0;
  width: 100%;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  color: var(--black);

  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 40px 0px;
}

.navbar-brand{

}

.navbar-burger{

  color: black;
}

.nav-stripe {
    height: 5px;
    background: var(--lightblue);  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, var(--lightblue), var(--mesblue));  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, var(--lightblue), var(--mesblue));/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bkg-white{
  background-color: var(--white);
}

.bkg-transparent{
  background-color: transparent;
}

.bkg-black{
  background-color: black;
}
.bkg-ultragrey{
  background-color: var(--ultragrey);
}

.bkg-greystone{
  background-color: var(--greystone);
}

.bkg-spygrey{
  background-color: var(--spygrey);
}

.bkg-eigen{
  background-color: var(--black);
}

.bkg-lightblue{
  background-color: var(--lightblue);
}

.bkg-flatblue{
  background-color: var(--flatblue);
}

.bkg-blueblack{
  background-color: var(--blueblack);
}

.bkg-frost{
  background-color: var(--frost);
}

.bkg-passionred{
  background-color: var(--passionred);
}

.is-passionred{
border-color: var(--passionred);
color: var(--passionred);

}

.bkg-azure{
  background-color: var(--azure);
  color: var(--white);
}

button.is-static{
  background-color: var(--azure);
}

.bkg-stone{
  background-color: var(--stone);
}

.bkg-gradient-heavy-rain{
	background-image: linear-gradient(125deg, #cfd9df 0%, #e2ebf0 100%) !important;
}

.navbar-menu{
  background-color: white;
  color: white;
}
.navbar-item{
  color: var(--black);
  background-color: white;
}
.is-active{
      background-color: white;
}
.navbar-end{
 background-color: white;
}

.navbar-link.is-active, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:hover{
  background-color: white;
  color: var(--ibmblue);
  border-bottom-color: var(--ibmblue);


}

a.navbar-item:hover{
  color: var(--ibmblue);
}

.post{
  -webkit-transition: all 200ms cubic-bezier(.02, .01, .47, 1);
  -moz-transition: all 200ms cubic-bezier(.02, .01, .47, 1);
  transition: all 200ms cubic-bezier(.02, .01, .47, 1);
  color: #4B4F56;
  z-index: 1;
}

.post:hover {
  box-shadow: 0 30px 30px rgba(0,0,0,.12);
  transform: translate(0,-5px);
  transition-delay: 0s !important;
}

.cardtextpost{
  color:
}

.post:hover .cardtextpost
{
 color: var(--eigen);

}

.post:hover .textpost-red
{
  font-weight: bold;
  color: var(--passionred);
}

.textlink:hover
{ font-style: oblique;
  color: var(--ibmblue);
}

.post:hover .textpost-gstar
{
  font-weight: bold;
  color: var(--gstar);
}

.post:hover .textpost-rescue
{
  font-weight: bold;
  color: var(--rescue);
}

.post:hover .textpost-showkali
{
  font-weight: bold;
  color: var(--showkali);
}

.post:hover .textpost-dviz
{
  font-weight: bold;
  color: var(--dviz);
}

.post:hover .textpost-nasa
{
  font-weight: bold;
  color: #202020;
}


.post-date{
  color: var(--ibmblue);
}

.post-date:hover {
  color: var(--eigen);
}


.passionlink{
  color: var(--passionred);
}

.right_text{
  text-align: right;
}

.feature-box {
align-self: center;
}

.image-box {

    border: none;
    max-width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}


.border-shadow {
    box-shadow: 0 0px 33px 0 rgba(0,0,0,.00);
    border-radius: 8px;
    background-color: rgba(0,0,0,.00);
    outline: 0;
}

.card {


}

.card-noborder {
  background-color: #ffffff00;
  color: #4a4a4a;
  box-shadow: 0 0px 0px rgba(0,0,0, 0), 0 0 0 0px rgba(0, 0, 0, 0);
  max-width: 100%;
  position: relative;
}

.card-image{
    border-radius: 8px;
}

.port-text{
  vertical-align: middle;
  align-items: center;
  justify-content: center;
    align-content: center;
    margin-bottom: auto;
    margin-top: auto;

}

.is-small {
  font-size: .90rem
}

.grow { transition: all .2s ease-in-out; }
.grow:hover {  transform: scale(.95);}

.work-panel {
	width: calc(100%);
	background-color: #FFF;
	text-decoration: none;
	display: block;
	float: left;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}

.work-panel:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: var(--ibmblue);
	opacity: 0;
	transform: translate3d(-100%, 0, 0);
	transition: transform 0.2s ease-in-out, opacity 0.3s ease-in-out;
}


.work-panel-homespaces:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: #f73859;
	opacity: 0;
	transform: translate3d(-100%, 0, 0);
	transition: transform 0.2s ease-in-out, opacity 0.3s ease-in-out;
}

.work-panel-rescue:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgb(30,127,192);
	opacity: 0;
	transform: translate3d(-100%, 0, 0);
	transition: transform 0.2s ease-in-out, opacity 0.3s ease-in-out;
}



.work-panel:hover:after {
	opacity: 0.95;
	transform: translate3d(0, 0, 0);
}

.work-panel:hover p {
	opacity: 1;
}

.work-panel:hover h3 {
	color: #FFF;
}

.work-panel:nth-child(1), .work-panel:nth-child(3) {
	margin-right: 20px;
}

.work-panel h3 {
	font-size: 1.6rem;
	color: #FFF;
	font-weight: 600;
	margin-bottom: 5px;
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 2;
	transition: all 0.2s ease-in-out;
}

.work-panel p {
	max-width: 240px;
	color: #FFF;
	opacity: 0;
	position: absolute;
	left: 20px;
	top: 60px;
	z-index: 2;
	transition: all 0.2s ease-in-out;
}



.work-panel .view-more {
	opacity: 0;
	z-index: 2;
	position: absolute;
	left: 20px;
	bottom: 33px;
	color: #FFF;
	font-weight: 600;
	transition: all 0.2s ease-in-out;
}

.work-panel .view-more:after {
	content: ' ⟶';
	vertical-align: -1px;
}

.work-panel:hover .view-more {
	opacity: 1;
}

.work-info p {
	max-width: 290px;
}


.card {
  background-color: #fff;
  box-shadow: 0 3px 3px rgba(10, 10, 10, .1), 0 0 0 0.5px rgba(10, 10, 10, .1);
  color: #404040;
  max-width: 100%;
  position: relative
}


@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 50% 0;
  }
}

#animate-area {
  background-image: url('images/g4.png');
  background-position: center;
  background-repeat: repeat-x;
  animation: animatedBackground 5s linear infinite alternate;
  animation-duration: 4s;
}


.arrow-icon {
  background-color:$background;
  height: 2.8em;
  width: 2.8em;
  display:block;
  padding: 1.5em;
  margin: 1em auto;
  position: relative;
  cursor: pointer;
  border-radius: 4px;

}


#rescue_live{

}

@media screen and (min-width: 992px) {
#navigation{
  position:relative;
  top:300px;
  left:20px;

}

#navigation.relative{
  position:relative;
  top:44px;

}

.sidebar-text{
 color: var(--black);
}
.sidebar-text:hover{
  color: var(--ibmblue);
}

}




@media (max-width:629px) {
  img#memepic {
    display: none;
  }

}
